
body.background-nero {
    background-color: #000000 !important;
    color: white; 
}


.hero {
    height: 100vh; 
    background: url('sfondo 1.jpg') no-repeat center center; 
    background-size: cover; 
    color: white; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card img {
    height: 300px;
    object-fit: cover;
}


.carousel-inner img {
    width: 100%;
    height: auto;
}


.footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}


.navbar {
    margin-bottom: 50px; 
    background-color: #333;
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}
